TOKEN="put your token here"
ALLOWED_USERS="put user's telegram chat_ids here"  # 123, 456, 789
DB_NAME="put your db_name here"  # "postgres" по умолчанию, чтобы не залезать в контейнер и не создавать там новые бд и пользователя
DB_USER="put your db_user here"  # "postgres" по умолчанию, чтобы не залезать в контейнер и не создавать там новые бд и пользователя
DB_PASSWORD="put your db_password here"
DB_HOST="put your db_host here"  # 5432 для запуска в контейнере использовать это значение
BOT_OWNER='put the link to your profile here'